<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_MEDIA_LOCATION" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/app_logo"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/app_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.SmartCity">
        <meta-data
            android:name="com.google.android.actions"
            android:resource="@anim/fade_out" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/map_key" />

        <service android:name=".tools.NoticeService" />

        <activity
            android:name=".GraphicalReport"
            android:exported="false" />

        <activity
            android:name=".HomePage"
            android:exported="false" />
        <activity
            android:name=".Report1"
            android:exported="false" />
        <activity
            android:name=".Report2"
            android:exported="false" />
        <activity
            android:name=".BookingPage"
            android:exported="false" />
        <activity
            android:name=".MyPage"
            android:exported="false" />
        <activity
            android:name=".MessagePage"
            android:exported="false" />
        <activity
            android:name=".NoticePage"
            android:exported="false" />
        <activity
            android:name=".FindPage"
            android:exported="false" />
        <activity
            android:name=".PasswordReset"
            android:exported="false" />
        <activity
            android:name=".AccountSettings"
            android:exported="false" />
        <activity
            android:name=".FriendRequest"
            android:exported="false" />
        <activity
            android:name=".ManageBooking"
            android:exported="false" />
        <activity
            android:name=".NotificationSetting"
            android:exported="false" />
        <activity
            android:name=".FindNewFriend"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".P2PMessage"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Start"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SignUp"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".LogIn"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />

    </application>


</manifest>